body {
	margin: 0;
	padding : 0;
	font-family: 'Titillium Web', sans-serif;
	background-color: white;
}

header:not(h2) {
	background-color: #337ab7;
	width: 100%;
	height: 100px;
}


header h2 {
	width: 50%;
	text-align: center;
	height: 100px;
	display: block;
	margin: auto;
	padding-top: 30px;
	color: white;
	box-sizing: border-box;
	letter-spacing: 2px;
	text-shadow: 1px 1px gray;
}

#nav {
	width: 100%;
	background-color: #f1f1f1;
}

#nav ul {
	width: 60%;
	height: 50px;
	text-align: center;
	display: block;
	margin: auto;
	padding: 0;
}

#nav li {
	display: inline-block;
	width: 30%;
	margin-top: 12px;
}

#nav li a {
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 13px;
}

#nav li a:hover {
	color: #337ab7;
}