body {
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;
	background-color: white;
}

#login_div {
	width: 50%;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
}

#login_table {
	margin: 0 auto;
	width: 50%;
}

#login_table td {
	padding-top: 10px;
}

#login_table input:not(#submit_btn) {
	padding: 0;
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	font-size: 15px;
	border: 1px solid gray;
	border-radius: 2px;
	padding-left: 10px;
}

#submit_btn {
	margin-top: 20px;
	width: 100%;
	height: 40px;
	background-color: #337ab7;
	border: 0;
	border-radius: 2px;
	color: white;
	font-size: 15px;
}

#submit_btn:hover {
	cursor: pointer;
}